/alse-1.7.5uu1-max-qemu-mg14.0.0-amd64.qcow2
/ansible/ansible_collections/*
!/ansible/ansible_collections/.gitkeep
/ansible/inventory/inventory.yaml
/ansible/roles/*
!/ansible/roles/.gitkeep
/ansible/venv
/creds
/engine.tar.gz
.idea
/inventory.ini
/keys/id_rsa
/vars.yaml
/venv
/volumes/nginx/ssl
/volumes/web/cache/embedding/models
/web.tar.gz
